{% extends "layout.html" %}

{% block content %}
<div class="container lesson">
  <h1>Basic Theory</h1>
  <div class="data-display"></div>
  <button id="prevBtn" disabled>Previous</button>
  <button id="nextBtn">Next</button>
  <p id="quizMessage"></p>

</div>

<div class="row piano-1">
    {% include 'piano.html' %}
</div>
<div class="center-button-container">
    <button id="demoButton">Play Demo</button>
</div>

<script>
  // JSON Data
  const data = [
    { id: 1, name: "Every key on the piano has a letter name. The first one we will learn is C.", image: "media/basic_theory_1.png", next_lesson_id:2, next_quiz_id:0, demoNotes:"C1, C2, C3, C4, C5, C6, C7, C8" },
    { id: 2, name: "Going from left to right, middle C is the 4th C note on the piano. C is the first note that we will play in the C major scale.", image: "media/basic_theory_2.png", next_lesson_id:3, next_quiz_id:1, demoNotes:"C4" },
    { id: 3, name: "Piano keys can be grouped into octaves. There are 8 white keys and 5 black keys in each octave. Each white key has a letter name from A to F. An octave always starts and ends with the same letter, like C:", image: "media/basic_theory_3.jpeg", next_lesson_id:4, next_quiz_id:0, demoNotes:"C4,C5,pause,pause,C4, C5" },
    { id: 4, name: "The black keys on the piano are called flat(♭) and sharp(#) keys. They are half a step lower for flat keys, and half a step higher for sharp keys, from their corresponding white key.", image: "media/basic_theory_4.png", next_lesson_id:5, next_quiz_id:0, demoNotes:" C4, CSharp4, D4, DSharp4, E4, F4, FSharp4, G4, GSharp4, A4, ASharp4, B4, C5" },
    { id: 5, name: "Distance between keys is measured as whole steps and half steps. Any 2 keys directly next to each other, no matter the color, are a half step away from each other. 2 of these make a whole step", image: "media/basic_theory_5.jpeg", next_lesson_id:0, next_quiz_id:0, demoNotes:"C4, CSharp4, pause, CSharp4, D4, pause, C4, D4" }
  ];

  // DOM Elements
  const dataDisplay = document.querySelector('.data-display');
  const prevBtn = document.getElementById('prevBtn');
  const nextBtn = document.getElementById('nextBtn');
  const demoBtn = document.getElementById('demoButton');

  // Retrieve the currentIndex from the URL parameter
  const urlParams = new URLSearchParams(window.location.search);
  let currentIndex = parseInt(urlParams.get('id')) - 1;
  if (isNaN(currentIndex) || currentIndex < 0) {
  currentIndex = 0;
}

  // Function to display data
  function displayData(index) {
    const currentItem = data[index];
    dataDisplay.innerHTML = `
      <p>${currentItem.name}</p>
      <img src="/static/${currentItem.image}" alt="${currentItem.name}"/>
    `;

    // Disable or hide the "Previous" button based on currentItem's ID
    if (currentItem.id === 1 || currentItem.id === 3) {
      //prevBtn.disabled = true;
      // Alternatively, you can hide the button
      prevBtn.style.visibility = 'hidden';
    } else {

      prevBtn.style.visibility = 'visible';
    }
  }

  // Initial data display
  displayData(currentIndex);

  // Function to update URL
  function updateURL(id) {
    const newURL = window.location.href.split('?')[0] + `?id=${id}`;
    window.history.pushState({ path: newURL }, '', newURL);
  }

  // Event listeners for next and previous buttons
  nextBtn.addEventListener('click', onNextBtnClick);
  demoBtn.addEventListener('click', function() {
      const noteString = data[currentIndex].demoNotes;
      playDemo(noteString);
  });
function onNextBtnClick() {
  nextBtn.removeEventListener('click', onQuizBtnClick);
  nextBtn.removeEventListener('click', onNextLearnClick);
  if (currentIndex < data.length - 1 && data[currentIndex].next_quiz_id === 0) {
    currentIndex = currentIndex + 1;
    displayData(currentIndex);
    prevBtn.disabled = false;
    updateURL(data[currentIndex].id);
  }
  if (data[currentIndex].next_quiz_id !== 0) {
    document.getElementById('quizMessage').innerText = "Click next to test your knowledge so far!";
    nextBtn.disabled = false;
    nextBtn.removeEventListener('click', onNextBtnClick);
    nextBtn.addEventListener('click', onQuizBtnClick);
  } else if (data[currentIndex].id === data.length) {
    document.getElementById('quizMessage').innerText = "";
    nextBtn.removeEventListener('click', onNextBtnClick);
    nextBtn.addEventListener('click', onNextLearnClick);
  } else {
    document.getElementById('quizMessage').innerText = "";
  }
}

  function onQuizBtnClick() {
    console.log("Next button clicked");
    window.location.href = `/quiz/theory`;
  }

  function onNextLearnClick() {
    console.log("Going to the next lesson")
    window.location.href = '/learn-scales?id=1'
  }

  prevBtn.addEventListener('click', onPrevBtnClick);

function onPrevBtnClick() {
  nextBtn.addEventListener('click', onNextBtnClick);
  nextBtn.removeEventListener('click', onQuizBtnClick);
  nextBtn.removeEventListener('click', onNextLearnClick);
  if (currentIndex > 0) {
    currentIndex = currentIndex - 1;
    displayData(currentIndex);
    nextBtn.disabled = false;
    updateURL(data[currentIndex].id);
  }

  if (currentIndex === 0) {
    prevBtn.disabled = true;
  }

  if (data[currentIndex].next_quiz_id !== 0) {
    document.getElementById('quizMessage').innerText = "Click next to test your knowledge so far!";
  } else {
    document.getElementById('quizMessage').innerText = "";
  }
}

  // Check next_quiz_id and navigate if not zero
  if (data[currentIndex].next_quiz_id !== 0) {
    document.getElementById('quizMessage').innerText = "Click next to test your knowledge so far!";
  }

</script>

{% endblock %}
