<div class = "piano" id="piano">
  <link rel="stylesheet" href="static/piano.css">
  <!-- First partial octave A0-B0 -->
  <div data-note="A0" class="key white"></div>
  <div data-note="ASharp0" class="key black a-sharp-0"></div>
  <div data-note="B0" class="key white"></div>

  <!-- Full octaves start from C1 to C7 -->
  <!-- Octave C1 -->
  <div data-note="C1" class="key white"></div>
  <div data-note="CSharp1" class="key black c-sharp"></div>
  <div data-note="D1" class="key white"></div>
  <div data-note="DSharp1" class="key black d-sharp"></div>
  <div data-note="E1" class="key white"></div>
  <div data-note="F1" class="key white"></div>
  <div data-note="FSharp1" class="key black f-sharp"></div>
  <div data-note="G1" class="key white"></div>
  <div data-note="GSharp1" class="key black g-sharp"></div>
  <div data-note="A1" class="key white"></div>
  <div data-note="ASharp1" class="key black a-sharp"></div>
  <div data-note="B1" class="key white"></div>

  <!-- Continue for each octave, changing the octave number -->
  <!-- Octave C2 to C7 (repeat similar structure, updating the octave numbers) -->
  <!-- Example for C2 -->
  <div data-note="C2" class="key white"></div>
  <div data-note="CSharp2" class="key black c-sharp-2"></div>
  <div data-note="D2" class="key white"></div>
  <div data-note="DSharp2" class="key black d-sharp-2"></div>
  <div data-note="E2" class="key white"></div>
  <div data-note="F2" class="key white"></div>
  <div data-note="FSharp2" class="key black f-sharp-2"></div>
  <div data-note="G2" class="key white"></div>
  <div data-note="GSharp2" class="key black g-sharp-2"></div>
  <div data-note="A2" class="key white"></div>
  <div data-note="ASharp2" class="key black a-sharp-2"></div>
  <div data-note="B2" class="key white"></div>

  <!-- Octave C3 -->
  <div data-note="C3" class="key white"></div>
  <div data-note="CSharp3" class="key black c-sharp-3"></div>
  <div data-note="D3" class="key white"></div>
  <div data-note="DSharp3" class="key black d-sharp-3"></div>
  <div data-note="E3" class="key white"></div>
  <div data-note="F3" class="key white"></div>
  <div data-note="FSharp3" class="key black f-sharp-3"></div>
  <div data-note="G3" class="key white"></div>
  <div data-note="GSharp3" class="key black g-sharp-3"></div>
  <div data-note="A3" class="key white"></div>
  <div data-note="ASharp3" class="key black a-sharp-3"></div>
  <div data-note="B3" class="key white"></div>

   <!-- Octave C4 -->
  <div data-note="C4" class="key white"></div>
  <div data-note="CSharp4" class="key black c-sharp-4"></div>
  <div data-note="D4" class="key white"></div>
  <div data-note="DSharp4" class="key black d-sharp-4"></div>
  <div data-note="E4" class="key white"></div>
  <div data-note="F4" class="key white"></div>
  <div data-note="FSharp4" class="key black f-sharp-4"></div>
  <div data-note="G4" class="key white"></div>
  <div data-note="GSharp4" class="key black g-sharp-4"></div>
  <div data-note="A4" class="key white"></div>
  <div data-note="ASharp4" class="key black a-sharp-4"></div>
  <div data-note="B4" class="key white"></div>

   <!-- Octave C5 -->
  <div data-note="C5" class="key white"></div>
  <div data-note="CSharp5" class="key black c-sharp-5"></div>
  <div data-note="D5" class="key white"></div>
  <div data-note="DSharp5" class="key black d-sharp-5"></div>
  <div data-note="E5" class="key white"></div>
  <div data-note="F5" class="key white"></div>
  <div data-note="FSharp5" class="key black f-sharp-5"></div>
  <div data-note="G5" class="key white"></div>
  <div data-note="GSharp5" class="key black g-sharp-5"></div>
  <div data-note="A5" class="key white"></div>
  <div data-note="ASharp5" class="key black a-sharp-5"></div>
  <div data-note="B5" class="key white"></div>

   <!-- Octave C6 -->
  <div data-note="C6" class="key white"></div>
  <div data-note="CSharp6" class="key black c-sharp-6"></div>
  <div data-note="D6" class="key white"></div>
  <div data-note="DSharp6" class="key black d-sharp-6"></div>
  <div data-note="E6" class="key white"></div>
  <div data-note="F6" class="key white"></div>
  <div data-note="FSharp6" class="key black f-sharp-6"></div>
  <div data-note="G6" class="key white"></div>
  <div data-note="GSharp6" class="key black g-sharp-6"></div>
  <div data-note="A6" class="key white"></div>
  <div data-note="ASharp6" class="key black a-sharp-6"></div>
  <div data-note="B6" class="key white"></div>

   <!-- Octave C7 -->
  <div data-note="C7" class="key white"></div>
  <div data-note="CSharp7" class="key black c-sharp-7"></div>
  <div data-note="D7" class="key white"></div>
  <div data-note="DSharp7" class="key black d-sharp-7"></div>
  <div data-note="E7" class="key white"></div>
  <div data-note="F7" class="key white"></div>
  <div data-note="FSharp7" class="key black f-sharp-7"></div>
  <div data-note="G7" class="key white"></div>
  <div data-note="GSharp7" class="key black g-sharp-7"></div>
  <div data-note="A7" class="key white"></div>
  <div data-note="ASharp7" class="key black a-sharp-7"></div>
  <div data-note="B7" class="key white"></div>

   <!-- Last Key C8 -->
  <div data-note="C8" class="key white"></div>
  <script src="/static/piano.js"></script>
</div>