{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid view-page">
        <div class="row">
            <div class="quiz-title"> Basic Theory Quiz! </div>
             <div class="instruction"> Play middle C on the piano below</div>
            <div id="answer-alert"></div>
        </div>
    </div>
    <div class="row">
        {% include 'piano.html' %}
    </div>
    <div class="row">
        <div class="but-con">
        <a href="/learn-theory?id=3" class="btn button-std">Learn More</a>
        </div>
    </div>
{% endblock %}
