{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid view-page">
        <div class="row">
            <div class="quiz-title"> Basic Theory Quiz! </div>
             <div class="instruction"> Play middle C on the piano below</div>
            <div id="answer-alert"></div>

     <div id="piano">
        <!-- First partial octave A0-B0 -->
        <div data-note="A0" class="key white"></div>
        <div data-note="Asharp0" class="key black a-sharp-0"></div>
        <div data-note="B0" class="key white"></div>

        <!-- Full octaves start from C1 to C7 -->
        <!-- Octave C1 -->
        <div data-note="C1" class="key white"></div>
        <div data-note="Csharp1" class="key black c-sharp"></div>
        <div data-note="D1" class="key white"></div>
        <div data-note="Dsharp1" class="key black d-sharp"></div>
        <div data-note="E1" class="key white"></div>
        <div data-note="F1" class="key white"></div>
        <div data-note="Fsharp1" class="key black f-sharp"></div>
        <div data-note="G1" class="key white"></div>
        <div data-note="Gsharp1" class="key black g-sharp"></div>
        <div data-note="A1" class="key white"></div>
        <div data-note="Asharp1" class="key black a-sharp"></div>
        <div data-note="B1" class="key white"></div>

        <!-- Continue for each octave, changing the octave number -->
        <!-- Octave C2 to C7 (repeat similar structure, updating the octave numbers) -->
        <!-- Example for C2 -->
        <div data-note="C2" class="key white"></div>
        <div data-note="Csharp2" class="key black c-sharp-2"></div>
        <div data-note="D2" class="key white"></div>
        <div data-note="Dsharp2" class="key black d-sharp-2"></div>
        <div data-note="E2" class="key white"></div>
        <div data-note="F2" class="key white"></div>
        <div data-note="Fsharp2" class="key black f-sharp-2"></div>
        <div data-note="G2" class="key white"></div>
        <div data-note="Gsharp2" class="key black g-sharp-2"></div>
        <div data-note="A2" class="key white"></div>
        <div data-note="Asharp2" class="key black a-sharp-2"></div>
        <div data-note="B2" class="key white"></div>

        <!-- Octave C3 -->
        <div data-note="C3" class="key white"></div>
        <div data-note="Csharp3" class="key black c-sharp-3"></div>
        <div data-note="D3" class="key white"></div>
        <div data-note="Dsharp3" class="key black d-sharp-3"></div>
        <div data-note="E3" class="key white"></div>
        <div data-note="F3" class="key white"></div>
        <div data-note="Fsharp3" class="key black f-sharp-3"></div>
        <div data-note="G3" class="key white"></div>
        <div data-note="Gsharp3" class="key black g-sharp-3"></div>
        <div data-note="A3" class="key white"></div>
        <div data-note="Asharp3" class="key black a-sharp-3"></div>
        <div data-note="B3" class="key white"></div>

         <!-- Octave C4 -->
        <div data-note="C4" class="key white"></div>
        <div data-note="Csharp4" class="key black c-sharp-4"></div>
        <div data-note="D4" class="key white"></div>
        <div data-note="Dsharp4" class="key black d-sharp-4"></div>
        <div data-note="E4" class="key white"></div>
        <div data-note="F4" class="key white"></div>
        <div data-note="Fsharp4" class="key black f-sharp-4"></div>
        <div data-note="G4" class="key white"></div>
        <div data-note="Gsharp4" class="key black g-sharp-4"></div>
        <div data-note="A4" class="key white"></div>
        <div data-note="Asharp4" class="key black a-sharp-4"></div>
        <div data-note="B4" class="key white"></div>

         <!-- Octave C5 -->
        <div data-note="C5" class="key white"></div>
        <div data-note="Csharp5" class="key black c-sharp-5"></div>
        <div data-note="D5" class="key white"></div>
        <div data-note="Dsharp5" class="key black d-sharp-5"></div>
        <div data-note="E5" class="key white"></div>
        <div data-note="F5" class="key white"></div>
        <div data-note="Fsharp5" class="key black f-sharp-5"></div>
        <div data-note="G5" class="key white"></div>
        <div data-note="Gsharp5" class="key black g-sharp-5"></div>
        <div data-note="A5" class="key white"></div>
        <div data-note="Asharp5" class="key black a-sharp-5"></div>
        <div data-note="B5" class="key white"></div>

         <!-- Octave C6 -->
        <div data-note="C6" class="key white"></div>
        <div data-note="Csharp6" class="key black c-sharp-6"></div>
        <div data-note="D6" class="key white"></div>
        <div data-note="Dsharp6" class="key black d-sharp-6"></div>
        <div data-note="E6" class="key white"></div>
        <div data-note="F6" class="key white"></div>
        <div data-note="Fsharp6" class="key black f-sharp-6"></div>
        <div data-note="G6" class="key white"></div>
        <div data-note="Gsharp6" class="key black g-sharp-6"></div>
        <div data-note="A6" class="key white"></div>
        <div data-note="Asharp6" class="key black a-sharp-6"></div>
        <div data-note="B6" class="key white"></div>

         <!-- Octave C7 -->
        <div data-note="C7" class="key white"></div>
        <div data-note="Csharp7" class="key black c-sharp-7"></div>
        <div data-note="D7" class="key white"></div>
        <div data-note="Dsharp7" class="key black d-sharp-7"></div>
        <div data-note="E7" class="key white"></div>
        <div data-note="F7" class="key white"></div>
        <div data-note="Fsharp7" class="key black f-sharp-7"></div>
        <div data-note="G7" class="key white"></div>
        <div data-note="Gsharp7" class="key black g-sharp-7"></div>
        <div data-note="A7" class="key white"></div>
        <div data-note="Asharp7" class="key black a-sharp-7"></div>
        <div data-note="B7" class="key white"></div>

         <!-- Last Key C8 -->
        <div data-note="C8" class="key white"></div>

    </div>
            <a href="/learn-scales" class="btn">Learn More</a>
        </div>
    </div>
{% endblock %}
