{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid view-page">
        <div class="row">
            <div class="quiz-title"> Scales Quiz! </div>

               <form id="answer-4" class="answer-form" action="/submit-your-answer" method="post">
        <fieldset>
            <legend>What is the 4th note in the D major scale?</legend>
                <div>
            <!-- Option A -->
            <div>
                <input type="radio" id="d" name="scales4" value="D">
                <label for="D">D</label>
            </div>

            <!-- Option B -->
            <div>
                <input type="radio" id="a" name="scales4" value="A">
                <label for="A">A</label>
            </div>

            <!-- Option C -->
            <div>
                <input type="radio" id="g" name="scales4" value="G">
                <label for="G">G </label>
            </div>

                    <div>
                <input type="radio" id="fSharp" name="scales4" value="F Sharp">
                <label for="FSharp">F Sharp </label>
            </div>

</div>
        </fieldset>

        <button id="submit-4" {% if lock %}class="disabled-button-std"{%else%}class="button-std"{%endif%} type="button">Submit</button>


    </form>
             <div id="result-4"></div>


            <div class="button-div">
            <a href="/quiz/scales/3" class="btn button-std">Previous </a>
                 <a href="/results" class="btn button-std"> Results</a>

            </div>
        </div>
    </div>
    <div class="row">
        {% include 'piano.html' %}
    </div>
{% endblock %}
